<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<groupId>org.eclipse.tycho</groupId>
	<artifactId>tycho-compiler-plugin</artifactId>
	<version>${tycho.version}</version>
	<configuration>
		<compilerArgument>-warn:+discouraged,forbidden</compilerArgument>
	</configuration>
</plugin>